body {
  background-image: url("./images/hintergrund.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal zentrieren */
  margin: 20px;
  font-family: Arial, sans-serif;
}

#switch-container {
  margin-top: 50px;
}

#kader-container {
  width: 90%;
  display: flex;
  justify-content: center; /* sorgt dafür, dass die Tabelle in der Mitte bleibt */
}

h1 {
  margin-bottom: 20px;
  color: rgb(68, 68, 69);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;   /* sorgt dafür, dass Inhalte den Radius nicht überdecken */
}

/* obere linke Ecke */
table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

/* obere rechte Ecke */
table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* untere linke Ecke */
table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

/* untere rechte Ecke */
table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: none;
}

th {
  background-color: #f0f0f0;
  color: rgb(68, 68, 69);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr.even {
  background-color: #ffffff;
}

table tr.odd {
  background-color: #f9f9f9;
}


/* Button-Gruppe */
/* style.css */
.btn-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.btn-group button {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #0056b3;
  background-color: white;
  color: #0056b3;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-group button:hover {
  background-color: #e6f0ff;
}

.btn-group button.active {
  background-color: #0056b3;
  color: white;
}
