/* Footer */
#site-footer {
  margin-top: 3rem;
  background: #EBEBEB;
}

#site-footer .footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  flex-wrap: wrap;
  color: #575756;
  font-weight: 800;
}
#site-footer .footnav{
  display: flex;
  gap: 2rem;
}

#site-footer .footnav a{
  text-decoration: none;
  color: #575756;
  margin-right: 0;
}
